.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &.sub{

        @include allAbove(small){
            flex-direction: row;
            align-items: flex-start;
            width: 100%;
        }
    }

}

.header__logo {
    margin: 1rem;
    width: 100px;

    @include allAbove(medium){
        margin: 2rem 0 3rem 0;
        width: 200px;
    }

    .sub & {
        
        @include allAbove(medium){
           max-width: 180px;
        }
    }

}

.header__nav{
    width: 100%;
    max-width: 1200px;

    @include allAbove(medium){
        height: 300px;
    }

    .sub & {
        @include allAbove(medium){
           height: 150px;
           max-width: map-get($breakpoints, medium);
        }
    }
}

.header__nav ul{
    display: flex;
    list-style: none;
    padding: 0; 
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
    border: 2px solid black; 

    @include allAbove(medium){
        flex-direction: row;
        align-items: stretch;
        overflow: hidden;
        border: 5px solid black;
    }
}

.header__nav li {
    width: 50%;
    height: 200px;
    position: relative;
    overflow: hidden;
    border: 5px solid black;
    border-width: 2px;
    margin: auto;
    flex: 1 auto;

    @include allAbove(medium){
        border-width: 0 0 0 5px;
        height: 100%;
        width: 100%;
        flex: 1;
        
        &:first-child{
            border-left: 0;
        }
    }
    
    .sub & {
        width: 20%;
        height: 80px;

        @include allAbove(medium){
            height: 100%;
            width: 100%;
        }
    }
}

.header__nav li a {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%; 
    position: relative;
    background: black;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);

    &:hover{
        img {
            filter: grayscale(0%);
        }
    }
}

.header__nav img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    display: block;
}

.header__nav .active img {
    filter: grayscale(0%);
}


.header__nav__overlay{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: opacity .15s ease-in .01s;
    opacity: .1;
}

.header__nav li a:hover .header__nav__overlay{
    opacity: .4;
}

.header__nav__text{
    background: rgba(0,0,0,.8);
    padding: .25rem;
    position: absolute;
    display: inline-block;
    transform: translate(-50%, -50%) scale(1);
    left: 50%;
    top: 50%;
    text-align: center;
    z-index: 2;
    font-size: 2rem;
    transition: transform .25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;

    .sub & {
        font-size: .85rem;
        @include allAbove(medium){
            font-size: 1.25rem;
        }
    }

    .active & {
        //transform: translate(-50%, -55%) scale(1) rotate(-15deg);
    }

}

.header__nav li a:hover .header__nav__text{
    background: rgba(0,0,0,1);
    transform: translate(-50%, -55%) scale(1.085);
}
