body{
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.15rem;
    line-height: 1.5;
}
h1 {
    margin: 0 0 .75rem 0;
    
    @include allAbove(medium){
        margin: 0 0 1.5rem 0;
    }
}

h1, h2, .f-2 {
    font-family: 'Bangers', cursive;    
}

.f-bold, em {
    font-weight: bold;
}