<footer>
    <nav class="contact">
        <h3>Kontakt:</h3>
        <ul>
            <li>
                <a href="mailto:eplehans@gmail.com">
                    <svg class="icon icon-envelope"><use xlink:href="#icon-envelope"></use></svg>
                    <span>alvorpodcast@gmail.com</span>
                </a>
            </li>
            <li>
                <a href="tel:+4792841558">
                    <svg class="icon icon-mobile"><use xlink:href="#icon-mobile"></use></svg>
                    <span>+47 92841 558</span>
                </a>
            </li>
        </ul>
    </nav>
    
    <nav class="social">
        <h3><abbr title="Sosiale Medier">SoMe:</abbr></h3>
        <ul>
            <li>
                <a target="_blank" href="https://www.facebook.com/alvorpodcast" title="Nå er det alvor på facebook">
                    <svg class="icon icon-facebook-square" title="Nå Er Det Alvor på Facebook"><use xlink:href="#icon-facebook-square"></use></svg>
                    <span><abbr title="Nå Er Det Alvor">NEDA</abbr> på Facebook</span>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/neda_podcast/" title="Nå er det alvor på facebook">
                    <svg class="icon icon-instagram" title="Nå Er Det Alvor på Instagram"><use xlink:href="#icon-instagram"></use></svg>
                    <span><abbr title="Nå Er Det Alvor">NEDA</abbr> på Instagram</span>
                </a>
            </li>
        </ul>
    </nav>
</footer>

<script src={{ "/assets/scripts/main.js" | relative_url }}></script>