<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>  
    
    <meta name="Keywords" content="{{ site.seo_keywords }}">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:url" content="https://naerdetalvor.no/">


    <meta name="Keywords" content="Podcast, løpe, ultraløping, neda, løpe podcast, løping, ultraløping, coaching, foredrag, workshop, kurs, Nå er det alvor" />
    <link href="https://fonts.googleapis.com/css?family=Bangers|Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="{{ "/assets/style/main.css" | relative_url }}">
    
    {%- include google-analytics.html -%}
    {%- include google-ads.html -%}

</head>