<ul class="sponsors">
    <li class="sponsors__sponsor">
        <a href="http://arcteryx.com/">
            <img src="{{ "/assets/media/sponsors/arcteryx.png" | relative_url }}" alt="Arcteryx" />
        </a>
    </li>
    <li class="sponsors__sponsor">
        <a href="https://www.fysioett.no/produkter/tens-smertelindring-muskelstimulering/compex-wireless-sp80">
            <img src="{{ "/assets/media/sponsors/compex.png" | relative_url }}" alt="Compex" />
        </a>
    </li>
    <li class="sponsors__sponsor">
        <a href="https://scantrade.no/merkevarer/fibra">
            <img src="{{ "/assets/media/sponsors/fibra.png" | relative_url }}" alt="Fibra" />
        </a>
    </li>
    <li class="sponsors__sponsor">
        <a href="https://thejuice.no/">
            <img src="{{ "/assets/media/sponsors/juice.png" | relative_url }}" alt="Juice" />
        </a>
    </li>
    <li class="sponsors__sponsor">
        <a href="http://fjellutstyr.no/">
            <img src="{{ "/assets/media/sponsors/kaarvatn.png" | relative_url }}" alt="Kårvatn Fjellutstyr" />
        </a>
    </li>
    <li class="sponsors__sponsor">
        <a href="https://melbukaviar.no/">
            <img src="{{ "/assets/media/sponsors/melbukaviar.png" | relative_url }}" alt="Melbukaviar" />
        </a>
    </li>
    <li class="sponsors__sponsor">
        <a href="https://www.moonlight.no/">
            <img src="{{ "/assets/media/sponsors/moonlight.png" | relative_url }}" alt="Moonlight Mountain Gear" />
        </a>
    </li>
    <li class="sponsors__sponsor">
        <a href="https://www.myracekit.com/">
            <img src="{{ "/assets/media/sponsors/myracekit.png" | relative_url }}" alt="myRaceKit" />
        </a>
    </li>
    <li class="sponsors__sponsor">
        <a href="https://scottnorge.no/scottloping">
            <img src="{{ "/assets/media/sponsors/scott.png" | relative_url }}" alt="Scott" />
        </a>
    </li>
    <li class="sponsors__sponsor">
        <a href="https://supervital.no/">
            <img src="{{ "/assets/media/sponsors/supervital.png" | relative_url }}" alt="Supervital" />
        </a>
    </li>
</ul>