<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "nb" }}">

{% include head.html %}

<body data-touch="">
    {% include symbols.html %}
    <header class="header">
        <a class="header__logo" href="/" title="Forside">
            {% include components/logo.html 
                title=page.logoTitle
                
            %}
        </a>
    </header>
    <main>
        {{content}}
        {% include voicemail.html %}
        
    </main>

    {% include footer.html %}
    
</body>