

@media (max-width: 650px){
    .mobile-hidden{
        display: none;
    }
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-family: 'Bangers', cursive;    
}
 
h1{
    font-size: 4.5rem;
}

@media (max-width: 650px){
    h1{
        font-size: 3.5rem;
    } 
}
