/*
* Breakpoints
* ======================================================================== */
$breakpoints: (
    'small': 320px,
    'medium': 650px,
    'large': 1024px,
    'xLarge': 1400px
);

/* Colors
* ======================================================================== */
$swatch1: #f2586f;
$swatch2: #93cdcc;
